{"openapi":"3.1.0","info":{"title":"Affonso API","description":"REST API for managing affiliates, referrals, commissions, and payouts.","version":"1.0.0","contact":{"name":"Affonso Support","url":"https://affonso.io","email":"support@affonso.io"}},"servers":[{"url":"https://api.affonso.io","description":"Production"},{"url":"http://localhost:3000","description":"Development"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Affiliates","description":"Manage affiliate users"},{"name":"Referrals","description":"Manage referrals and conversions"},{"name":"Clicks","description":"Track click events"},{"name":"Commissions","description":"Manage commission transactions"},{"name":"Payouts","description":"Manage affiliate payouts"}],"paths":{"/v1/affiliates":{"get":{"tags":["Affiliates"],"summary":"List affiliates","description":"Get a paginated list of all affiliates","parameters":[{"name":"page","in":"query","schema":{"type":"integer","default":1}},{"name":"limit","in":"query","schema":{"type":"integer","default":50,"maximum":200}},{"name":"status","in":"query","schema":{"type":"string","enum":["active","pending","inactive","rejected","banned"]}},{"name":"search","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string","example":"createdAt:desc"}}],"responses":{"200":{"description":"List of affiliates"},"401":{"description":"Unauthorized"},"429":{"description":"Rate limit exceeded"}}},"post":{"tags":["Affiliates"],"summary":"Create affiliate","description":"Create a new affiliate user","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","name"],"properties":{"email":{"type":"string","format":"email"},"name":{"type":"string"},"userName":{"type":"string"},"status":{"type":"string","enum":["pending","active"]}}}}}},"responses":{"201":{"description":"Affiliate created"},"400":{"description":"Validation error"},"409":{"description":"Duplicate email"}}}},"/v1/affiliates/{id}":{"get":{"tags":["Affiliates"],"summary":"Get affiliate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Affiliate details"},"404":{"description":"Not found"}}},"put":{"tags":["Affiliates"],"summary":"Update affiliate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Affiliate updated"},"404":{"description":"Not found"}}},"delete":{"tags":["Affiliates"],"summary":"Delete affiliate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Affiliate deleted"},"404":{"description":"Not found"}}}},"/v1/referrals":{"get":{"tags":["Referrals"],"summary":"List referrals","responses":{"200":{"description":"List of referrals"}}},"post":{"tags":["Referrals"],"summary":"Create referral","responses":{"201":{"description":"Referral created"}}}},"/v1/clicks":{"post":{"tags":["Clicks"],"summary":"Track click","description":"Record a click event for affiliate tracking","responses":{"201":{"description":"Click recorded"}}}},"/v1/commissions":{"get":{"tags":["Commissions"],"summary":"List commissions","responses":{"200":{"description":"List of commissions"}}},"post":{"tags":["Commissions"],"summary":"Create commission","responses":{"201":{"description":"Commission created"}}}},"/v1/payouts":{"get":{"tags":["Payouts"],"summary":"List payouts","responses":{"200":{"description":"List of payouts"}}}},"/v1/payouts/{id}":{"get":{"tags":["Payouts"],"summary":"Get payout","responses":{"200":{"description":"Payout details"}}},"put":{"tags":["Payouts"],"summary":"Update payout status","responses":{"200":{"description":"Payout updated"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API Key","description":"API key authentication. Use your API key as the bearer token."}}}}